.mainFirst {
  position: relative;
  margin: 0 auto;
  height: 586px;
  background: #F5F5F5;
  background-image: url("../../common/img/Rectangle.png");
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
  .descriptionsContainer {
    display: flex;
    margin: 7% 0 0 4%;
  }
}