.mainFirst {
  position: relative;
  margin: 0 auto;
  height: 634px;
  background: #F5F5F5;
  background-image: url("../../common/img/Rectangle.png");
  background-repeat: no-repeat;
  background-size: auto;
  //background-position: bottom;
  background-position-y: 90px;
  overflow: hidden;
  @media screen and (max-width: 720px) {

  }

  .descriptionsContainer {
    display: flex;
    margin: 7% 0 0 4%;
    @media screen and (max-width: 720px) {
      flex-direction: column;
    }
  }
}