.subscriptionContainer {
  height: 153px;
  background: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (max-width: 420px) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 233px;
  }
  .linkGroup {
    display: flex;
    @media screen and (max-width: 420px) {
      margin: 0 0 0 -20px;
      width: 104vw;
      justify-content: space-between;
    }
    & a {
      display: block;
      width: 38px;
      height: 38px;
      margin-left: 24px;
      text-decoration: none;
      @media screen and (max-width: 420px) {
        width: 57px;
        height: 57px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .TW {
      background-image: url("../../../common/img/subscription/TW.png");
      background-position: center;
    }

    .YT {
      background-image: url("../../../common/img/subscription/YB.png");
      background-position: center;
    }

    .IN {
      background-image: url("../../../common/img/subscription/INST.png");
      background-position: center;
    }

    .FB {
      background-image: url("../../../common/img/subscription/FB.png");
      background-position: center;
    }
  }

  .telegram {
    display: flex;

    .TG {
      display: block;
      width: 94px;
      height: 94px;
      background-image: url("../../../common/img/subscription/TG.png");
      background-position: center;
      text-decoration: none;
      @media screen and (max-width: 420px) {
        width: 68px;
        height: 68px;
        background-size: cover;
        margin-left: 2px;
      }
    }

    .descriptionsFrame {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 10px;

      &:nth-child(2) {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 31, 31, 0.7);

        @media screen and (max-width: 420px) {
          width: 220px;
          margin: 0 0 0 4px;
        }
      }

      .descriptions {
        @media screen and (max-width: 420px) {
          width: 280px;
        }
        & :nth-child(1) {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 21px;
          line-height: 25px;
          text-decoration-line: underline;
          color: #F62C2F;
        }

        & :nth-child(2) {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 21px;
          line-height: 25px;
        }
      }
    }
  }
}