.carsMain {
  display: flex;
  position: relative;
  @media screen and (max-width: 720px) {
    left: 253px;
    bottom: 106px;
  }
  @media screen and (max-width: 620px) {
    left: 165px;
    bottom: 106px;
  }
  @media screen and (max-width: 520px) {
    left: 108px;
    bottom: 106px;
  }
  @media screen and (max-width: 420px) {
    left: -31px;
    bottom: 6px;
  }
  & :nth-child(2) {
    @media screen and (max-width: 800px) {
      left: 12vh !important;
    }
  }

  & :nth-child(2) {
    @media screen and (max-width: 420px) {
      left: 7vh !important;
    }
  }

  & :nth-child(2) {
    @media screen and (max-width: 350px) {
      left: 5vh !important;
    }
  }

  & :nth-child(1) {
    @media screen and (max-width: 800px) {
      left: 2vh !important;
    }
    @media screen and (max-width: 420px) {
      width: 92vw !important;
      top: -9vh !important;
      left: 6vh !important;
    }
  }

  & :nth-child(1) {
    max-width: 450px !important;
  }

  & :nth-child(2) {
    @media screen and (max-width: 420px) {
      top: -8vh !important;
      width: 90vw !important;
      left: 159px !important;
    }
  }

  .img {
    width: 38vw;
    height: 38vh;
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    max-width: 587px;

    .buttonGroup {
      display: flex;
      align-items: center;
      position: absolute;
      top: 33vh;
      left: 10vw;
      @media screen and (max-width: 1130px) {
        top: 280px
      }
      @media screen and (max-width: 720px) {
        top: 27vh
      }
      @media screen and (max-width: 420px) {
        top: 24vh !important;
        left: -16% !important;
      }
      @media screen and (max-width: 420px) {
        &:nth-child(1) {
          width: 120px !important;

        }
        &:nth-child(3) {
          width: 90px !important;
        }
        & button {
          width: 39.1px !important;
          height: 39.1px !important;
        }
      }

      .count {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        margin: 0 10px 0 10px;
        color: #FFFFFF;
        @media screen and (max-width: 420px) {
          width: 18px !important;
          color: #FFFFFF;
        }
      }
    }
  }

}
