.footerContainer {
  height: 148px;
  background: #414141;
  background-image: url("../../../common/img/footers/Lable.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 4%;
  background-position-y: 11%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (max-width: 420px) {
    height: 430px;
    background-position-x: 50%;
    background-position-y: 6%;
    background-size: 103px;
    & button {
      display: none;
    }
  }

  .navLink {
    display: flex;
    justify-content: space-evenly;
    margin: 0 34%;
    @media screen and (max-width: 670px) {
      display: flex;
      flex-direction: column;
      height: 200px;
    }
    @media screen and (max-width: 420px) {
      display: flex;
      flex-direction: column;
      height: 200px;
      margin-top: 96px;
    }

    .nav {
      display: block;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #FFFFFF;
      text-decoration: none;
      width: 68px;

      @media screen and (max-width: 420px) {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  .line {
    border: 1px solid #818181;
    margin: 0 3%;
    @media screen and (max-width: 420px) {
      width: 90vw;
    }
  }

  .bottomInfo {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 3%;
    width: 96%;

    @media screen and (max-width: 420px) {
      flex-direction: column-reverse;
    }

    .copyright {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: rgba(255, 255, 255, 0.7);
      @media screen and (max-width: 420px) {
        width: 60%;
        margin: 20px auto 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }

    .time {
      display: flex;
      width: 32.5%;
      @media screen and (max-width: 650px) {
        width: 45%;
        margin-left: -5px;
        margin-bottom: 5px;
      }
      @media screen and (max-width: 420px) {
        width: 100%;
        margin-left: -5px;
      }

      & div {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        margin: 0 0 0 4%;
      }
    }
  }
}