.frame {
  max-width: 35%;
  @media screen and (max-width: 720px) {
    max-width: 100%;
  }

  .descriptions {
    max-width: 493px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .descrOne {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      width: 110%;
      color: #333333;
      @media screen and (max-width: 720px) {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #333333;
      }
    }

    .descrTwo {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: #333333;
      width: 115%;
      margin-top: 2%;
      @media screen and (max-width: 720px) {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        color: #333333;
        margin-top: 0;
        width: 100%;
      }
    }
  }
}