
.headerFrame {
  display: flex;
  padding: 23px 51px 0 51px;
  justify-content: space-between;
  align-items: center;

  .headerLink {
    display: flex;
    justify-content: space-around;
    width: 38%;
    @media screen and (max-width: 720px){
      display: none;
    }
  }

  .headerText {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;

    color: #333333;

    opacity: 0.6;
  }
  .activeNav {
    border-bottom: 4px solid #F62C2F;
    margin: 0 0 3px 0;
  }

  .callBack {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #2B8AFB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .contacts{
      display: flex;
      .icon{
        margin: 0 9px 0 0;
      }
      .phoneText {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        color: #333333;
      }
    }

    .aboutCallBack{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #F62C2F;
    }
  }
  .buttonCallBack{
    display: none;
    @media screen and (max-width: 720px) {
      display: inline;
      position: absolute;
      width: 123px;
      height: 36px;
      background: #F62C2F;
      cursor: pointer;
      border: none;
      color: #FFFFFF;
      right: 0.5%;
      top: 6%;
    }
  }
}