
.headerFrame {
  display: flex;
  padding: 23px 51px 0 51px;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 720px) {
    justify-content: flex-start;
    width: 360px;
    padding-left: 20px;
    padding-top: 11px;
  }

  .burgerMenu {
    display: none;
    @media screen and (max-width: 720px) {
      margin-right: 24.5px;
      width: 27px;
      height: 18px;
      display: inline-block;
      background-image: url("../../common/img/startPage/burgerMenu.png");
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
    }
  }

  .headerText {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;

    color: #333333;

    opacity: 0.6;
  }

  .buttonCallBack {
    display: none;
    @media screen and (max-width: 720px) {
      display: inline;
      position: absolute;
      width: 123px;
      height: 36px;
      background: #F62C2F;
      cursor: pointer;
      border: none;
      color: #FFFFFF;
      right: 0.5%;
      top: 3%;
    }
  }
}