.callBackFrame {
  height: 450px;
  background: #FDFDFD;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 520px) {
    height: 505px;
  }
  .descriptionCall {
    width: 965px;
    height: 276px;
    left: 157px;
    top: 87px;
    background: #F5F5F5;
    border: 1px solid #D0D0D0;
    box-shadow: 0 25px 45px 1px rgba(129, 129, 129, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 7% 0 0 2%;
    @media screen and (max-width: 1000px) {
      width: 94vw;
    }
    @media screen and (max-width: 630px) {
      height: 430px;
    }
    .contactContainer {
      display: flex;
      justify-content: center;
      margin: 10px 0;

      @media screen and (max-width: 420px) {
        & p {
          width: 280px;
        }
      }

      & :nth-child(2) {
        margin: 0 10px;
      }

      input {
        width: 178px;
        height: 36px;
        left: 351px;
        top: 225px;
        background: #FFFFFF;
        border: 1px solid #D0D0D0;
        font-size: medium;
        font-weight: normal;
      }

      button {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        background: #333333;
        cursor: pointer;

        &:active {
          background: #43444b;
        }
      }

      @media screen and (max-width: 630px) {
        flex-direction: column;
        align-items: center;
        & button {
          width: 244px;
          height: 36px;
          margin-top: 7px;
        }
        & input {
          width: 244px;
          height: 36px;
          background: #FFFFFF;
          border: 1px solid #D0D0D0;
          margin-bottom: 7px;
        }
      }
    }

    & :nth-child(1) {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #333333;
    }

    & :nth-child(2) {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #333333;
      margin: 0;
    }

    .SC {
      display: flex;
      justify-content: center;

      a {
        margin: 0 5px;
      }

      & :nth-child(1) {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: rgba(51, 51, 51, 0.5);
      }

      & :nth-child(2) {
        background-image: url("../../common/img/sc/sWA.png");
        width: 16px;
        height: 16px;
        display: block;
      }

      & :nth-child(3) {
        background-image: url("../../common/img/sc/sVB.png");
        width: 16px;
        height: 16px;
        display: block;
      }

      & :nth-child(4) {
        background-image: url("../../common/img/sc/sTG.png");
        width: 16px;
        height: 16px;
        display: block;
      }
    }
  }

  .footer {
    background-image: url('../../common/img/footers/Footer3.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: left;
    position: absolute;
    width: 30%;
    height: 55%;
    bottom: -12%;
    background-size: contain;
    left: -1%;
    @media screen and (max-width: 800px){
      width: 66%;
      bottom: -30%;
    }
    @media screen and (max-width: 420px){
      width: 66%;
      bottom: -64px;
    }
  }
}