.documentContainer {
  .counterContainerMobile {
    display: flex;
    justify-content: center;
  }

  .documents {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    margin: 8% 0 0 0;
    background-color: #FFFFFF;
    @media screen and (max-width: 980px) {
      font-size: 24px;
      margin: 14% 0 4% 0;
    }

  }

  .descriptionContainer {
    display: flex;
    padding-top: 6.5%;
    margin: 0 0 0 -5%;

    @media screen and (max-width: 980px) {
      flex-wrap: wrap;
    }

    .img {
      position: relative;
      width: 684px;
      height: 323px;
      border: 1px solid rgba(255, 211, 211, 1);
      box-shadow: 0 25px 45px 1px rgba(224, 92, 92, 0.2);
      background: linear-gradient(0deg, #FFEDED, #FFEDED);
      margin-right: 1%;
      @media screen and (max-width: 980px) {
        margin-bottom: 6%;
      }
      @media screen and (max-width: 400px) {
        margin-bottom: -1%;
        height: 269px;
      }

      .imgPaper {
        position: absolute;
        left: 139px;
        rotate: -0.34deg;
        top: -72px;
        @media screen and (max-width: 1200px) {
          left: 31px;
          top: -140px;
        }
        @media screen and (max-width: 1080px) {
          left: 69px;
          top: -66px;
        }
        @media screen and (max-width: 1035px) {
          left: -3px;
          top: -92px;
          width: 112%;
        }
        @media screen and (max-width: 980px) {
          left: 194px;
          top: -34px;
          width: 49%;
        }
        @media screen and (max-width: 675px) {
          left: 138px;
          top: -16px;
          width: 54%
        }
        @media screen and (max-width: 540px) {
          top: -22px;
          width: 70%;
        }
        @media screen and (max-width: 450px) {
          left: 59px;
          top: -21px;
          width: 75%;
        }
        @media screen and (max-width: 400px) {
          left: 61px;
          top: -17px;
          width: 69%;
        }
      }
    }

    .descriptionsContainer {
      max-width: 544px;
      margin: 0 4% 0 0;
      padding: 0 0 0 4%;
      @media screen and (max-width: 980px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 24px;
      }
      @media screen and (max-width: 480px) {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      .title {
        font-family: Montserrat, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;

      }

      .description {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
      }
    }
  }
}